body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*--------NAVIGATION BAR---------*/
nav {
  background-color: lightgrey;
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burger {
  display: none;
}

.left-nav {
  width: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
}

.right-nav {
  margin-right: 2vw;
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-nav button {
  background-color: inherit;
  border: 1px none black;
  border-radius: 40%;
  width: 65px;
  padding: 5px;
  box-shadow: 0px 0px 15px black;
  margin-right: 20px;
  cursor: pointer;
}

.right-nav i {
  font-size: 30px;
}

nav img {
  height: 80px;
}

/*------MAIN (SHARED WITH INDEX AND SIGNIN)-------*/
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/*---------INDEX--------*/
.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.category img {
  background-color: lightgrey;
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 5%;
  margin-bottom: 10px;
}

/*---------SIGN IN--------*/
.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid grey;
  width: 300px;
  height: 450px;
  border-radius: 5%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 170px;
  padding: 10px;
}

.frame button {
  width: 200px;
}

/*-------FOOTER-------*/
footer {
  background-color: grey;
  color: white;
  bottom: 0;
  position: relative;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}