@media screen and (max-width: 500px) {

    body {
        font-size: 12px;
    }

    /*------NAVIGATION BAR------*/
    nav {
        background-color: lightgrey;
        width: 100vw;
        height: 7vh;
    }

    .left-nav {
        display: none;
    }

    .right-nav {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger {
        width: 15vw;
        display: flex;
        justify-content: center;
        margin-right: auto;
    }

    .burger a {
        color: black;
        font-size: 25px;
    }

    /*-------CONTAINER-------*/
    .container {
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
    }

    .category img {
        background-color: lightgrey;
        width: 150px;
        height: 150px;
        object-fit: contain;
        border-radius: 5%;
        margin-bottom: 2px;
    }

}